<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!-- Controls whether the packages folder of a solution is included in source control. -->
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>

  <config>
    <add key="repositoryPath" value="..\vendor\nuget\" />
  </config>

</configuration>